
$first-color : rgb(255, 255, 255);
$second-color : #030631;
$third-color : rgb(255, 166, 0);
$fourth-color : rgb(255, 166, 0);

$input-bg : rgba(29, 164, 209, 0.326);


$dark-color : rgb(29, 29, 29);
$text1 : "Poppins";
$text2 : 'Arima';