.services {
  height: 80%;
  width: 100%;
}

.legend {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
  line-height: 30px;
  padding: 10px; /* Add padding for better visual appearance */
  text-align: center; /* Center text for a polished look */
  border-radius: 5px; /* Optional: adds rounded corners to the legend */
}
